src/main/java/com/di/genXMLm/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bookStore" type="bookStoreType"/>
    <xs:complexType name="bookStoreType">
        <xs:sequence>
            <xs:element type="authorsType" name="authors"/>
            <xs:element type="booksType" name="books" />
            <xs:element type="customersType" name="customers" />
            <xs:element type="ordersType" name="orders" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="authorsType">
        <xs:sequence>
            <xs:element type="authorType" name="author" maxOccurs="unbounded" minOccurs="1000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="booksType">
        <xs:sequence>
            <xs:element type="bookType" name="book" maxOccurs="unbounded" minOccurs="1000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="customersType">
        <xs:sequence>
            <xs:element type="customerType" name="customer" maxOccurs="unbounded" minOccurs="1000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ordersType">
        <xs:sequence>
            <xs:element type="orderType" name="order" maxOccurs="unbounded" minOccurs="1000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="authorType">
        <xs:sequence>
            <xs:element type="xs:string" name="firstName"/>
            <xs:element type="xs:string" name="lastName"/>
            <xs:element type="xs:string" name="pseudonym"/>
            <xs:element type="xs:string" name="code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="bookType">
        <xs:sequence>
            <xs:element type="xs:string" name="code"/>
            <xs:element type="xs:string" name="title"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="xs:string" name="ISBN"/>
            <xs:element type="xs:string" name="price"/>
            <xs:element type="xs:string" name="authorCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="customerType">
        <xs:sequence>
            <xs:element type="xs:string" name="code"/>
            <xs:element type="xs:string" name="barCode"/>
            <xs:element type="xs:string" name="firstName"/>
            <xs:element type="xs:string" name="lastName"/>
            <xs:element type="xs:string" name="pesel"/>
            <xs:element type="xs:string" name="phone"/>
            <xs:element type="xs:string" name="address"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="orderType">
        <xs:sequence>
            <xs:element type="xs:string" name="customerCode"/>
            <xs:element type="xs:string" name="bookCode"/>
            <xs:element type="xs:string" name="status"/>
            <xs:element type="xs:dateTime" name="orderDate"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>